<?php

namespace Nitra\{{ alias }}{{ nameBundle }};

use Symfony\Component\HttpKernel\Bundle\Bundle;

class Nitra{{ alias }}{{ nameBundle }} extends Bundle
{
    public function getParent()
    {
        return '{{ parentBundle }}';
    }
}