{% block template %}
<?php

namespace Nitra\{{ alias ~ nameBundle }}\Controller{{ (lastDir is null) ? '' : ('\\' ~ lastDir) }};

use Nitra\{{ nameBundle }}\Controller{{ (lastDir is null) ? "\\" : ('\\' ~ lastDir ~ '\\') }}{{ fileName }} as Base{{ fileName }};

class {{ fileName }} extends Base{{ fileName }}
{
}
{%- endblock -%}