{% block masked_input_javascript %}
    {% javascripts '@NitraExtensionsBundle/Resources/public/js/jquery.maskedinput.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function() {
            {% for key, value in definitions %}
                $.mask.definitions['{{ key }}'] = '{{ value|raw }}';
            {% endfor %}
            var configs = {};
            {% for key, value in parameters %}
                {% if 'function' in value %}
                    configs["{{ key }}"] = {{ value|raw }};
                {% else %}
                    configs["{{ key }}"] = {{ value|json_encode|raw }};
                {% endif %}
            {% endfor %}
            $('#{{ form.vars.id }}').mask("{{ form.vars.mask }}", configs);
        });
    </script>
{% endblock masked_input_javascript %}